@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}



.textoVeterinaria {
  font-weight: bolder;
  letter-spacing: 5px;
}


.HomeCliente {
  background-image: url('/patron1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  animation: circularMove 20s linear infinite alternate;
}

@keyframes circularMove {
  0% {
    background-position: center;
  }
  100% {
    background-position: 100% 100%;
  }
}

.clase-fondo{
  background-image: url('/patron1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
}
.modalBackground {
  background: linear-gradient(90deg, #162975, #d3538a); /* Color de fondo inicial (opuesto a la sombra) */
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%; 
  animation: backgroundAnimation 10s ease-in infinite alternate; /* Se aplica la animación al fondo */
}
.imagenModal {
  position: relative;
  margin: auto;
  width: 300px;
  height: 300px;
  box-shadow: -100px 50px 200px #f6e144;
  border-radius: 50%; 
  animation: fadeIn 10s ease-in;
  transform: rotate(0deg);
}

@keyframes fadeIn {
  0% {
    box-shadow: -100px -50px 200px #162975;
    opacity: 0;
  }
  50% {
    box-shadow: -100px 50px 200px #d3538a;
    opacity: 0.5;
  }
  85% {
    box-shadow: -100px 50px 200px #f6e144;
    opacity: 1;
    transform: rotate(360deg); 
  }
  100% {
    box-shadow: -100px 50px 200px #f6e144;
    opacity: 1;
    transform: rotate(360deg); 
  }
}
@keyframes backgroundAnimation {
  0% {
    background: linear-gradient(90deg, #162975, #d3538a); /* Color de fondo inicial (opuesto a la sombra) */
  }
  50% {
    background: linear-gradient(90deg, #d3538a, #f6e144); /* Color de fondo intermedio (opuesto a la sombra) */
  }
  100% {
    background: linear-gradient(90deg, #f6e144, #162975); /* Color de fondo final (opuesto a la sombra) */
  }
}





