@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body{
  width: 100%;
  display: flex;
}

.gradient-bg {
  background: linear-gradient(0deg, #2e9ef4, #09cef5);
}
.textoVeterinaria {
  font-weight: bolder;
  letter-spacing: 5px;
}


.HomeCliente {
  background-image: url('/patron1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  animation: circularMove 20s linear infinite alternate;
}

@keyframes circularMove {
  0% {
    background-position: center;
  }
  100% {
    background-position: 100% 100%;
  }
}

.clase-fondo {
  background-image: url('/patron1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.modalBackground {
  background: linear-gradient(90deg, #162975, #d3538a); /* Color de fondo inicial (opuesto a la sombra) */
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  animation: backgroundAnimation 10s ease-in infinite alternate; /* Se aplica la animación al fondo */
}
.imagenModal {
  margin-top: 10% !important;
  position: relative;
  margin: auto;
  width: 300px;
  height: 300px;
  box-shadow: -100px 50px 200px #f6e144;
  border-radius: 50%;
  animation: fadeIn 10s ease-in;
  transform: rotate(0deg);
}

@keyframes fadeIn {
  0% {
    box-shadow: -100px -50px 200px #162975;
    opacity: 0;
  }
  50% {
    box-shadow: -100px 50px 200px #d3538a;
    opacity: 0.5;
  }
  85% {
    box-shadow: -100px 50px 200px #3ea4da;
    opacity: 1;
    transform: rotate(360deg);
  }
  100% {
    box-shadow: -100px 50px 200px #f6e144;
    opacity: 1;
    transform: rotate(360deg);
  }
}
@keyframes backgroundAnimation {
  0% {
    background: linear-gradient(90deg, #162975, #d3538a); /* Color de fondo inicial (opuesto a la sombra) */
  }
  50% {
    background: linear-gradient(90deg, #d3538a, #f6e144); /* Color de fondo intermedio (opuesto a la sombra) */
  }
  100% {
    background: linear-gradient(90deg, #f6e144, #162975); /* Color de fondo final (opuesto a la sombra) */
  }
}
.container-perspective {
  transform-style: preserve-3d;
  perspective-origin: center;
  perspective: 1200px;
}

.element {
  transform: rotateY(-10deg);
  transform-style: preserve-3d;
  transition: 1s;
  z-index: 999;
}

.element:hover {
  transform: rotateY(0deg);
  transition: 1s;
}

.element::before {
  transform: rotateY(-35deg);
  transition: 5s;
}

.element2 {
  transform: rotateY(10deg);
  transform-style: preserve-3d;
  transition: 1s;
}

.element2:hover {
  transform: rotateY(0deg);
  transition: 1s;
}

.element2::before {
  transform: rotateY(35deg);
  transition: 5s;
}

.element3 {
  opacity: 0.5;
  transform: rotateY(-50deg); /* Ajuste para inclinar hacia la izquierda */
  transform: rotateX(10deg);
  transform-style: preserve-3d;
  transition: transform 0.5s, z-index 0.5s; /* Agregué z-index aquí para incluirlo en la transición */
  z-index: 900;
  transform: scale(1.5);
}

.element3:hover {
  margin-inline: 100px;
  transform: scale(1.9) rotateX(50deg) rotateY(50deg); /* Aplicar ambas transformaciones al mismo tiempo */
  z-index: 999;
}

/* Aplicar transformación a los elementos adyacentes cuando .element3 está en hover */
.element3:hover + .element-adyacente,
.element3:hover ~ .element-hermano {
  margin-right: 100px; /* Cambia la distancia según lo necesites */
  transition: margin-right 0.5s;
}


.element3::before {
  z-index: 900;
  transform: rotateY(-55deg);
  transition: 5s;
}

@keyframes cambiarOpacidad {
  0% {
    opacity: 0.7;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.7;
  }
}


.element4 {
  width: 250px !important;
  opacity: 0.4;
  transform: rotateY(-15deg) rotateX(10deg) rotate3d(1, 1, 1, -15deg); /* Ajuste para inclinar hacia la derecha */
  transform-style: preserve-3d;
  transition: 3s;
  z-index: 900;

  margin-left: -60px !important;
  animation: cambiarOpacidad 2s linear infinite; /* La animación dura 1 segundo */
}

.element4:hover {
  transform: rotateY(0deg) rotateX(0deg); /* Ajuste para el efecto hover */
  opacity: 1;
  z-index: 999; /* Ajuste para que esté por encima de los demás elementos */
  transition: 3s;
  animation: none;
  margin-left: 50px !important;
}
.element4::before {
  transform: rotateY(0deg) rotateX(0deg) rotate3d(1, 1, 1, 0deg);
  transition: 1s;
  z-index: 800;
}
.element4:hover .element3 {
  margin-right: 20% !important;
}

/* Ajustar márgenes de elementos adyacentes */
.element4:hover + .element {
  margin-left: 200px !important; /* Ajustar según sea necesario para alejar los elementos */
}

.element4:hover ~ .element {
  margin-left: 150px !important;
}


.element4::before {
  transform: rotateY(55deg);
  transition: 1s;
  z-index: 800;
}

.element4::before ~ .element {
  opacity: 0.1; /* Ajustar aquí sea necesario para alejar los elementos */
  
}

.element4 ~ .element4 {
  margin-left: 50%; /* Ajustar aquí sea necesario para alejar los elementos */

}

.element:focus,
.element2:focus,
.element3:focus,
.element4:focus {
  animation-play-state: running;
}


.imagenHero {
  margin-top: 10% !important;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

/* 
.producto {
  position: relative;
  perspective: 1000px; 
}

.producto h1 {
  position: relative;
  display: inline-block;
  transform-style: preserve-3d; 
  animation: bamboleo 5s ease-in-out infinite alternate;
}
.producto h2 {
  position: relative;
  display: inline-block;
  transform-style: preserve-3d; 
  animation: bamboleo 5s ease-in-out infinite alternate;
}

.producto h3 {
  position: relative;
  display: inline-block;
  transform-style: preserve-3d; 
  animation: bamboleo 5s ease-in-out infinite alternate;
}

@keyframes bamboleo {
  0% {
    transform: rotateX(10deg) rotateY(-7deg) translateZ(0); 
  }
  50% {
    transform: rotateX(-10deg) rotateY(5deg) translateZ(40px); 
  }
  100% {
    transform: rotateX(10deg) rotateY(-7deg) translateZ(0); 
  }
} */

.producto {
  position: relative;
  perspective: 1000px;
  text-align: center;
}

.producto h1 {
  display: inline-block;
  transform-style: preserve-3d;
  animation: bamboleo1 5s ease-in-out infinite alternate;
}

.producto h2 {
  display: inline-block;
  transform-style: preserve-3d;
  animation: bamboleo2 5s ease-in-out infinite alternate;
}

.producto h3 {
  display: inline-block;
  transform-style: preserve-3d;
  animation: bamboleo3 5s ease-in-out infinite alternate;
}

@keyframes bamboleo1 {
  0% {
    transform: rotateX(10deg) rotateY(-7deg) translateZ(0);
  }
  50% {
    transform: rotateX(-10deg) rotateY(5deg) translateZ(40px);
  }
  100% {
    transform: rotateX(10deg) rotateY(-7deg) translateZ(0);
  }
}

@keyframes bamboleo2 {
  0% {
    transform: rotateX(10deg) rotateY(-7deg) translateZ(0);
  }
  50% {
    transform: rotateX(-10deg) rotateY(5deg) translateZ(40px);
  }
  100% {
    transform: rotateX(10deg) rotateY(-7deg) translateZ(0);
  }
}

@keyframes bamboleo3 {
  0% {
    transform: rotateX(10deg) rotateY(-7deg) translateZ(0);
  }
  50% {
    transform: rotateX(-10deg) rotateY(5deg) translateZ(40px);
  }
  100% {
    transform: rotateX(10deg) rotateY(-7deg) translateZ(0);
  }
}

/* Define tus animaciones y estilos aquí */

/* Media query para dispositivos móviles en modo retrato y tabletas en modo vertical */
@media only screen and (max-width: 700px) and (orientation: portrait) {
  .element4 {
    opacity: 1;
    margin-left: auto !important; /* Resetear margen izquierdo */
    transform: rotateY(0deg) rotateX(0deg); /* Anular transformaciones */
    animation: none !important; /* Anular animación */
  }

  .element4:hover {
    opacity: 1; /* Mantener opacidad al hacer hover */
  }

  .element4::before {
    transform: rotateY(0deg) rotateX(0deg) rotate3d(1, 1, 1, 0deg); /* Anular transformaciones */
  }

  .element4:hover .element3 {
    margin-right: 0 !important; /* Anular margen derecho al hacer hover */
  }

  .element4:hover + .element {
    margin-left: 0 !important; /* Anular margen izquierdo al hacer hover */
  }

  .element4::before ~ .element {
    opacity: 1; /* Mantener opacidad de elementos adyacentes */
  }
}

